{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": 0,
    "indent": 2,
    "prefer-const": "warn",
    "no-var": "error",
    "no-new-object": "error",
    "object-shorthand": "warn",
    "quote-props": "warn",
    "no-array-constructor": "warn",
    "array-callback-return": "warn",
    "prefer-destructuring": "warn",
    "quotes": "error",
    "prefer-template": "warn",
    "template-curly-spacing": "warn",
    "no-eval": "error",
    "func-style": "warn",
    "no-loop-func": "error",
    "prefer-rest-params": "warn",
    "no-new-func": "error",
    "space-before-blocks": "warn",
    "space-before-function-paren": "warn",
    "no-param-reassign": "error",
    "prefer-spread": "warn",
    "function-paren-newline": "warn",
    "prefer-arrow-callback": "warn",
    "arrow-spacing": "warn",
    "implicit-arrow-linebreak": ["warn", "beside"],
    "no-duplicate-imports": "error",
    "sort-imports": "warn",
    "no-iterator": "warn",
    "dot-notation": "warn",
    "no-undef-init": "error",
    "one-var": ["warn","never"],
    "no-multi-assign": "error",
    "no-plusplus": "error",
    "eqeqeq": "error",
    "no-case-declarations": "warn",
    "no-nested-ternary": "warn",
    "no-unneeded-ternary": "warn",
    "brace-style": "warn",
    "no-else-return": "warn",
    "spaced-comment": "warn",
    "space-before-block": "warn",
    "keyword-spacing": "warn",
    "space-infix-ops": "warn",
    "padded-blocks": "warn",
    "space-in-parens": "warn",
    "array-bracket-spacing": ["warn", "never"],
    "object-curly-spacing": ["warn", "always"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "key-spacing": ["error", { "beforeColon": false }],
    "comma-style": ["error", "last"],
    "semi": ["error", "always"],
    "camelcase": "warn",
    "new-cap": "warn",
    "no-underscore-dangle": "warn"
  }
}
